.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.card-wrapper {
  height: 150px;
  width: 600px;
  border: 3px solid #ccc;
  margin-left: 10%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
}
.image-wrapper{
  height: 135px;
  width: 200px;
  text-align: center;
  margin: 5px;
  /* background-color: red; */

}
.image-wrapper img{
  height: 125px;
  width: 125px;
}
.text-wrapper{
    height: 135px;
    width: auto;
    margin-top: 8px;
    margin-right: -100px;
    display: flex;
    text-align: start;
    flex-direction: column;
}
.button-wrapper{
  background-color: bisque;
  height: 55px;
  width: 60px;
  margin-top: 15px;
  margin-left: 110px;
  margin-right: 10px;
  box-shadow: bisque 5px 10px 10px;
  border-radius: 5px solid bisque;
  display: inline;

}.button-wrapper button{
  font-weight: bold;
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-wrapper span{
  text-align: justify;
  font-family: cursive;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
